@import "src/general/colors";
@import "src/general/sizes";

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .main-logo{
    width: calc(100% - 60px);
    max-width: 650px;
  }
  .title-wrapper{
    position: relative;
    margin-top: 36px;

    padding: 16px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    $border-style: 2px solid $l-20;
    border-top: $border-style;
    border-bottom: $border-style;

    $insert-height: 24px;
    span{
      position: absolute;
      top: -$insert-height/2;
      font-size: 16px;

      padding: 0px 12px;
      background-color: white;
      font-weight: bold;
      color: $mdoc-brand-blue !important;
    }
    h1{
      opacity: 0.8;
      text-align: center;
    }
  }
  .partner{
    margin-top: 36px;
    display: flex;
    flex-direction: column;

    align-items: center;

    .severance{
      display: flex;
      padding-bottom: 12px;

      span{
        padding: 0px 12px;
        font-weight: bold;
        line-height: 24px;
        color: rgb(17,55,120);
        font-size :20px;

        &:first-child{
          color: $main-content;
          opacity: 0.7;
          border-right: 2px solid $l-30;
        }
      }
    }
    .description{
      padding: 0px 16px;
      display: flex;
      flex-direction: column;

      .first-line{
        display: flex;
      }

      span {
        font-size: 16px;
        text-align: center;
        color: rgb(120,120,120);
        line-height: 1.6;

        strong {
          font-size: 16px;
          color: $mdoc-brand-blue;
        }
      }

    }
  }
}

@media (max-width: $tablet-breakpoint){
  .intro{
    .partner{
      flex-direction: column;
      .description{
        .first-line{
          flex-direction: column;
        }
      }
    }
  }
}


@media (max-width: $mobile-breakpoint) {
  .intro{
    .title-wrapper{
      h1{
        white-space: pre-line;
      }
    }
    .partner{
      flex-direction: column;
      .description{
        *{
          font-size: 14px !important;
        }
      }
    }
  }
}
