@import "src/general/colors";
@import "src/general/sizes";

.footer{
  padding: 80px 0px;
  width: 100%;
  display: flex;
  justify-content: center;

  a:hover{
    opacity: 0.7;
  }

  &.tone-down{
    background-color: $l-5;
  }

  .boundary{
    display: flex;
    //max-width: 800px;
    .section-company-info{
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      .sub{
        color: $sub-content;
      }
      .logo-type{
        height: 28px;
      }
      .info-group{
        display: flex;
        flex-direction: column;
        gap: 4px;
        .info-item{
          display: flex;
          gap: 8px;
        }
      }

    }
    .section-menu{
      display: flex;
      gap: 24px;
      .menu-group{
        flex: 1;
        width: 200px;
        display: flex;
        flex-direction: column;
        .title{
          border-bottom: 1px solid $l-20;
          font-weight: bold;
          line-height: 36px;
          margin-bottom: 4px;
        }
        a{
          line-height: 28px;
        }
      }
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .footer{
    .boundary{
      flex-direction: column-reverse;

      .section-company-info{

        margin-top: 60px;
        border-top: 1px solid $l-20;
        padding-top: 60px;
        align-items: center;
        .info-group{
          align-items: center;
        }
      }
    }
  }
}
